.nombre{
    width: 100px;
	height: 100px;	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.background{
    background-image: url("../2019-09-19/assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.list-text{
    text-align: center;
}
.row-margin{
    margin:25%;
}