/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
.game-pad{
  height:500px;
  width: 1200px;
  border:solid 1px;
  background-image: url("https://www.culturaneogeo.com/imagenes/Metal%20Slug/backgrounds/1/MetalSlug-Mission1.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
.heroe{
  height:60px;
  width:30px;
  position:absolute;
  top:500px;
  left:600px;

}

.stats{
   display : inline-flex;
}